In [2]:
import pandas as pd
import pytz

In [ ]:
[zone for zone in pytz.all_timezones if 'UTC' in zone]

In [ ]:
data_file = 'data/biximontrealrentals2014-f040e0/OD_2014-04.csv'

In [ ]:
# https://stackoverflow.com/questions/25962114/how-do-i-read-a-large-csv-file-with-pandas
df = pd.read_csv(data_file)

In [ ]:
dtype = {
    'start_station_code' : 'string',
    'end_station_code'   : 'string',
    'duration_sec'       : 'int',
    'is_member'          : 'boolean'
}

In [ ]:
df = pd.read_csv(
    data_file,
    dtype = dtype,
    parse_dates = ['start_date','end_date']
)

In [ ]:
tz = pytz.timezone('Canada/Eastern')
dti = pd.to_datetime(df['start_date'], format = "%Y-%m-%d %H:%M").dt.tz_localize(tz = tz)

dti#.tz_localize(pytz.timezone('EST5EDT'))

In [ ]:
dti = dti.dt.tz_convert(tz = pytz.timezone('UTC'))

dti

In [ ]:
dti.dt.tz_convert(tz = None)

In [ ]:

join_table = pd.DataFrame()

for index, folder in enumerate(folder_list):
    
    folder_contents = os.listdir('data/'+ folder)

    stations_files = [file for file in folder_contents if 'station' in file.lower()]

    rides_files = [file for file in folder_contents if file not in stations_files]

    temp_df = pd.DataFrame({'rides_files':rides_files})
    
    if len(stations_files) == 1:
        temp_df['station_files'] = stations_files[0]
    else:
        print("Check station file in folder {index + 1} : {folder}.")

    join_table = pd.concat(
        [join_table,temp_df],
        axis = 0,
    ).reset_index(drop = True)

    print(f'Processing folder {index+1} of {len(folder_list)}, folder: {folder}', end = '\r')

In [1]:
x_list = [1,2,3]

In [ ]:
for index, x in enumerate(x_list):
    print(f"{index+1} / {len(enum}

In [ ]:
# Create `stations` table
with engine.connect() as conn:

    sql_stmt = sqlalchemy.text(
        """
        CREATE TABLE IF NOT EXISTS stations (
            # columns regarding rides, assume each ride unique given no ride_id provided
            stn_id			BIGINT			NOT NULL AUTO_INCREMENT,
        	stn_code 	    VARCHAR(255)	NOT NULL,
            stn_name        VARCHAR(255)	NOT NULL,
            stn_lat         DECIMAL(7,5)    NOT NULL,
            stn_lon         DECIMAL(7,5)    NOT NULL,
            company			VARCHAR(255)	NOT NULL,

            # columns for data maintenance
            data_source		VARCHAR(255)	NOT NULL,
            date_added		DATETIME 		NOT NULL DEFAULT CURRENT_TIMESTAMP,
            flag			VARCHAR(255),

            # Each ride is unique
            CONSTRAINT stn_uid UNIQUE (stn_id)
            )    
        """
    )

    conn.execute(sql_stmt)

In [ ]:
From above, the rides data contains 6 columns or features:
1. `start_date`: the datetime when a Bixi bicycle is checked out from a dock
2. `start_station_code`: the docking station where the Bixi bicycles was checked out from
3. `end_date`: the datetime when a Bixi bicycle is returned to a dock
4. `end_station_code`: the docking station where the checked out bicycle was returned to
6. `duration_sec`: the total time of the ride
7. `is_member`: the membership status of the customer who used the Bixi bicycle

In [10]:
df_ori = pd.read_csv('data/2021-donnees-ouvertes-464ae6/2021_donnees_ouvertes.csv')

In [4]:
df_ori.head()

,start_date,emplacement_pk_start,end_date,emplacement_pk_end,duration_sec,is_member
0,2021-06-29 17:46:28.653,10,2021-06-29 19:33:25.700,10,6417,0
1,2021-04-25 18:02:39.110,10,2021-04-25 18:13:26.139,188,647,0
2,2021-08-08 18:50:31.633,10,2021-08-08 18:58:57.585,778,505,1
3,2021-10-11 17:50:15.346,10,2021-10-11 18:25:31.726,504,2116,1
4,2021-09-10 15:51:58.050,10,2021-09-10 16:21:01.403,780,1743,1

In [12]:
df = pd.read_csv('data/20220109-donnees-ouvertes-519d43/202209_deplacements.csv'
                )

In [13]:
df.shape

(1327125, 5)

In [14]:
df.head()

,rental_id,start_date,emplacement_pk_start,end_date,emplacement_pk_end
0,63511183,2022-09-30 19:11:19.006,9,2022-09-30 19:33:35.679,185
1,63479941,2022-09-30 10:29:43.032,9,2022-09-30 10:41:08.185,786
2,62442853,2022-09-08 16:47:31.962,9,2022-09-08 17:45:57.315,184
3,62640533,2022-09-11 18:03:13.712,9,2022-09-11 18:23:06.038,186
4,63479953,2022-09-30 10:30:03.428,9,2022-09-30 10:30:26.094,9

In [11]:
df = pd.read_csv('data/20220109-donnees-ouvertes-519d43/202209_deplacements.csv',
                 usecols = [0,1,2,3,4,5],
                 header = 0,
                 names = [
                         'start_date',
                        'start_station_code',
                        'end_date',
                        'end_station_code',
                        'duration_sec',
                        'is_member'
                 ],
                 skiprows= 1
                 
                )

ParserError: Too many columns specified: expected 6 and found 5

In [9]:
df.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2021-04-25 18:02:39.110,10,2021-04-25 18:13:26.139,188,647,0
1,2021-08-08 18:50:31.633,10,2021-08-08 18:58:57.585,778,505,1
2,2021-10-11 17:50:15.346,10,2021-10-11 18:25:31.726,504,2116,1
3,2021-09-10 15:51:58.050,10,2021-09-10 16:21:01.403,780,1743,1
4,2021-05-21 09:08:02.506,10,2021-05-21 09:29:43.070,185,1300,1

In [15]:
2 ** 64 -1

18446744073709551615